.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.buttonSubmit {
	background: var(--sunny, rgb(255 200 2 / 100%));
}

.buttonReset {
	background: var(--white, rgb(255 255 255 / 100%));
}

.buttonSubmit:hover,
.buttonSubmit:active {
	background: var(--yellow, rgb(255 237 171 / 100%));
}

.buttonReset:hover,
.buttonReset:active {
	background: var(--black, rgb(0 0 0 / 100%));
}
